/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
	margin: 0;
	background-color: rgb(247, 235, 221);
}

body,
button,
input,
select,
textarea {
	font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

/* b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
} */

/* blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
	padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
} */


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

h1,
h2,
h3 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
	text-align: center;
}

.container p {
	padding: 1em 1em;
}

img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}

header img {
	width: 50%;
}
header div {
	display: flex;

}


.logo,
.site-title {
	text-align: center;
}

.logo {
	font-size: 3em;
}

.site-title {
	margin-top: -1em;
	margin-bottom: 3em;
}


.intro {
	background: #FFF6E5;
	padding-bottom: 2em;
}

.intro-content {
	padding: 1.5em;
}

@media screen and (min-width: 600px) {
	.intro-text {
		columns: 1;
		column-gap: 2em;
	}

	.intro-text p {
		padding-top: 0;
	}
}


.containers {
	padding: 2em 1em 1em;
	background: #cba577;
}

.containers ul {
	margin: 0;
	padding: 0;
}

.containers li {
	margin-bottom: 1em;
	background: white;
	list-style-type: none;
}

.container {
	padding: 1.5em;
}


.more {
	padding: 2em;
}


.extra {
	padding: 2em;
	background: #896943;
	color: white;
}

.extra:last-of-type {
	background: #e3bf93;
}

footer {
	padding: 1em;
	background: hsl(341, 19%, 45%);
	color: white;
    justify-content: center;
	text-align: center;
}

footer a {
	color: white;
}

footer aside {
	align-items: center;
}

footer a:hover,
footer a:focus {
	border-bottom: 1px solid rgb(254, 62, 206);
}

@media (max-width: 700px) {
	header div {
		flex-direction: column;
	}

	header div img {
		width: 100%;
	}

	.gallery img {
		max-height: 300px; /* Control size by setting a max-height */

	}

	.reflectie {
		display: grid;
		grid-row: 1fr 1fr;
	}

}


@media screen and (min-width: 700px) {
	@supports (display: flex) {

		.containers ul {
			display: flex;
			justify-content: space-around;
		}

		.containers li {
			width: 31%;
		}

		.containers img:hover {
			transform: scale(2.3);
		}
		
	}
}


.site {
	max-width: 50em;
	margin: 0 auto;
}


@supports (grid-area: auto) {

	.site {
		max-width: none;
	}

	.main-area > *,
	footer {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	.intro-content,
	.more-content,
	.containers ul {
		grid-column: 2/4;
	}

	.extra {
		grid-column: span 2;
	}

    footer aside {
        grid-column: span 4;
    }

}


.gallery {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    background-color: #9d815e;
}

.gallery img {
    margin: 0.5em;
    display: block;
    max-height: 450px; 
    width: auto; 
}

.reflectie {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #21759b;
}

.reflectie p {
	padding: 1em;
}

.reflectie p:first-child {
	background-color: #f3d4ad;
}

.reflectie p:last-child {
	background-color: rgb(240, 199, 184);
}